footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Lore{
    background-color: #ffffff;
    color: #fff;
    padding: 5px 0;
    justify-content:center;
    display: flex;
    justify-content: center;

    color: #000000;  width: 25px;
    border-style: inset; border-color:darkmagenta;
     padding: 2px;
    margin: 5px
}

.Lore9{
    background-color: #ffffff;
    color: #fff;
    padding: 5px 0;
    justify-content: space-around;
    display: flex;
    justify-content: center;
}
